html {
    text-align: center;
    color: black;
}

body {
    margin: auto;
    font-family: monospace;
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    height: 90vh;
    width: 90vw;
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    margin: 5%;
}
.page-start {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page-password {

}
.panel-password { 
    display: flex;
    flex-grow: 1;

}
.panel-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
}
    
.start-button {
    height: 250px;
    width: 250px;
    padding: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    border-color: transparent;
    font-size: 4em;

}

button {
    margin-bottom: 5px;
}

button:hover {
    background-color: #555;
    color: white;
}

.password-container {
    margin: 15% 0% 5% 0%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    flex-grow: 1;
    column-gap: 30px;
    width: 100%;
    font-size: 3em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}
.password-character {
    margin-bottom: 0;
    user-select: none;
    -webkit-user-select: none;
}
.settings-button {
    position:absolute;
    top: -5px;
    right: -5px;
    height: 24px;
    width: 24px;
}
.dock-button {
    position:absolute;
    top: -5px;
    right: 30px;
    height: 24px;
    width: 24px;
}
.reset-button {
    position:absolute;
    top: -5px;
    right: 70px;
    height: 24px;
    width: 24px;
}